<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_maratonar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_maratonar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maratonar"
        tools:targetApi="31">
        <activity
            android:name=".AnotacoesActivity"
            android:exported="false"
            android:parentActivityName=".FilmeActivity"/>
        <activity
            android:name=".SobreActivity"
            android:exported="false"
            android:parentActivityName=".FilmesActivity" /> <!-- Atalho para FilmesActivity -->
        <activity
            android:name=".FilmesActivity"
            android:exported="true"
            android:label="Maratonar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FilmeActivity com taskAffinity -->
        <activity
            android:name=".FilmeActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_maratonar"
            android:label="Filme"
            android:launchMode="singleTask"
            android:parentActivityName=".FilmesActivity"
            android:roundIcon="@mipmap/ic_launcher_maratonar_round" /> <!-- android:taskAffinity="com.example.maratonar.filme" /> <!- Atalho para FilmeActivity -->
        <activity-alias
            android:name=".FilmeActivityAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_maratonar_round"
            android:label="Filme"
            android:targetActivity=".FilmeActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity-alias>
    </application>

</manifest>